<% page_header "Commands" %>

<div class="col-sm-6">
  <div class="well well-sm">
    <ul class="list-inline">
      <li><%= image_tag @user.picture, size: '75' %></li>
      <li><h2><%= @user.name %></h2></li>
    </ul>
  </div>
</div>

<div class="col-sm-6">
  <div class="well well-sm command-container">
    <h2>My Commands</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Command</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @user.sorted_commands.each do |command| %>
          <% command.each_pair do |command, count| %>
            <tr>
              <td><%= command %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
  <div style="clear:both;"></div>
