
<div class="col-md-8 col-md-offset-2">
  <h1>Getting Started</h1>
  First, you'll need the gem, which can be downloaded with

  <pre>gem install big_bro</pre>

  Then
  <% if current_user %>
    get your api key and give it to your machine with
    <pre>big_bro config set api_key <%= current_user.api_key.access_token %></pre>
  <% else %>
    <%= link_to "login", login_path %> to get your api key and give it to your machine with
    <pre>big_bro config set api_key YOUR_API_KEY</pre>
  <% end %>

  Now you can push up your bash_history with

  <pre>big_bro push</pre>

  The push defaults to <code>~/.bash_history</code>.
  If you use a different shell, it may save your history elsewhere.
  You can tell Big Brother to use that location with

  <pre>big_bro config set history_file /full/path/to/history</pre>

  We recommend pushing up your bash_history at least once a week.
</div>
<div class="col-md-2">&nbsp;</div>
