<div class="col-md-2">&nbsp;</div>
<div class="col-md-8">
  <h1>Getting Started</h1>
  First, you'll need the gem, which can be downloaded with

  <pre>gem install big_brahhhhhhhhh</pre>

  Then get your api key <a href="#">PLACEHOLDER</a>
  and give it to your machine with
  <pre>big_brahhhhhhhhh api_key set YOUR_API_KEY</pre>

  Now you can push up your bash_history with

  <pre>big_brahhhhhhhhh push</pre>

  The push defaults to <code>~/.bash_history</code>.
  If you use a different shell, it may save your history elsewhere.
  You can tell Big Brother to use that location with
  <pre>big_brahhhhhhhhh history_location set /path/to/history</pre>
</div>
<div class="col-md-2">&nbsp;</div>
