// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#footer {
  position: absolute;
  bottom: 0;
  margin-left: 1%;
}
